include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include PaperSorter/templates *.html *.txt
recursive-include PaperSorter/static *.css *.js *.ico *.json *.png .gitkeep
recursive-include PaperSorter/data *.py
recursive-include examples *
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
prune tests
prune notebook
prune tools
prune old
prune qbio
prune qtest
